<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Gurukul YouTube Downloader</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

  <img
    src="{{ url_for('static', filename='images.jpg') }}"
    class="logo"
  >

  <h1>
    <span>YouTube</span> Video Downloader
  </h1>

  <div class="download-box">

    <input
      type="text"
      id="videoUrl"
      placeholder="Paste YouTube video link here..."
    >

    <button onclick="getVideoInfo()">
      Fetch Video
    </button>

    <div id="preview" class="hidden">

      <img id="thumbnail">

      <h2 id="title"></h2>

      <button onclick="downloadVideo()">
        Download Video
      </button>

    </div>

  </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
